<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>
    <label for="isbn">Введите ISBN: </label>
    <input type="text" th:field="*{ISBN}" id="isbn"/>
    <div style="color:red" th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}">Author Error</div>
    <br/>
    <label for="genre">Введите Жанр: </label>
    <input type="text" th:field="*{genre}" id="genre"/>
    <div style="color:red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Author Error</div>
    <br/>
    <label for="description">Введите Описание: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Author Error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>

</body>
</html>